@import "tailwindcss";

body {
  background-color: #111827;
  color: #f3f4f6;
}

/* Styles personnalisés pour les sliders */
input[type="range"] {
  appearance: none;
  background-color: #374151;
  border-radius: 0.5rem;
  height: 0.5rem;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #3b82f6;
  border-radius: 9999px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #3b82f6;
  border-radius: 9999px;
  cursor: pointer;
  border: 0;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}